<!DOCTYPE html>
<html>
  <head>
    <title>Biso</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-info is-large">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Bahamas International Spearfishing Open <%= Time.now.year + 1 %>
          </h1>
          <h2 class="subtitle">
            Large subtitle
          </h2>
        </div>
      </div>

      <div class="hero-foot">
        <%= render 'layouts/navigation' %>
      </div>
    </section>

    <div class="container">
      <div class="columns">
        <div class="column">
        </div>

        <div class="column is-three-quarters">
          <div class="content is-medium">
            <div class="section">
              <%= yield %>
            </div>
          </div>
        </div>

        <div class="column">
        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
